.glossary{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.glossary div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
}
.glossary button.seat{
    margin: 0  0 10px 0;
}