.poster{
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 8px;
    margin: 0 0 10px 30px;
}
.poster img{
    width: 129px;
    height: 193px;
    object-fit: cover
}